@font-face {
  font-family: "Gotham Rounded";
  src: url("../fonts/GothamRounded-Book.otf") format("opentype");
}
@font-face {
  font-family: "Sequel Rounded";
  src: url("../fonts/SequelRounded-Extended.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background: url("../img/1600x900.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
  text-align: center;
}

@media only screen and (max-width: 1025px) {
  body {
    background: url("../img/1080x1920.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
  }
}
@media only screen and (max-width: 767px) {
  body {
    background: url("../img/900x1600.jpg") no-repeat center center fixed;
    background-size: 100% 100%;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container .content-container {
  max-width: 650px;
  padding-top: 13em;
}
.container .content-container p:nth-child(1) {
  font-size: 28px;
  line-height: 1.2em;
  font-family: "Sequel Rounded";
}
.container .content-container p:nth-child(2) {
  font-size: 18px;
  font-family: "Gotham Rounded";
}
.container .content-container p:nth-child(3) {
  font-size: 18px;
  font-family: "Gotham Rounded";
}
.container .content-container p:nth-child(3) a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.container .content-container p:nth-child(3) a:hover {
  color: #000;
}
@media only screen and (max-width: 767px) {
  .container .content-container {
    padding-top: 21em;
  }
}
@media only screen and (max-width: 350px) {
  .container .content-container {
    padding-top: 25em;
  }
}

.pre-loader {
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
}
.pre-loader img {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 235px;
}
@media only screen and (max-width: 767px) {
  .pre-loader img {
    width: 100%;
    height: 200px;
  }
}

.logo-container img {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 235px;
}
@media only screen and (max-width: 767px) {
  .logo-container img {
    width: 100%;
    height: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
